{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": true },
      {
        "libraryName": "ant-design-pro",
        "libraryDirectory": "lib",
        "style": true,
        "camel2DashComponentName": false
      }
    ],
    "react-hot-loader/babel"
  ]
}
