.header-icon-wrapper {
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-size: 0;
  // text-align: center;

  margin: 0;
  .header-icon {
    padding: 0 16px;
    display: inline-block;
    height: auto;
    position: relative;
    left: 10px;
  }
}


.menu-item {
  margin-left: 10px;
  display: inline-block;
  &:hover {
    color: #fff;
  }
}

.bg-grey {
  background-color: #3f3f3f !important;
}

.layout-header {
  background-color: #fff !important;
  border-bottom: 1px solid #eeeeee !important;
}